.setting-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;

  font-size: var(--font-small);

  margin-block-start: 1em;
}

.setting-panel button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  padding-inline: 0.5em;
  padding-block: 0.5em;

  font-family: inherit;

  color: black;
  background-color: var(--acc-clr);
  border: none;

  transition: scale 0.5s ease;
}

.setting-panel button:hover {
  scale: 1.1;
}

.clear-all-btn:hover {
  background-color: red;
}

.toggle-dark-theme-btn.dark {
  background-color: #e4d0c1;
}

.toggle-dark-theme-btn.light {
  color: rgb(214, 214, 214);
  background-color: #5f5750;
}
