.form {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.input--form {
  border-radius: 5px;
  padding: 0 0.6em;
  width: 100%;
  border: 1px solid transparent;
  transition: border-color 0.8s ease-in;
}

.input--form:hover {
  background-color: var(--bg-card-2);
  border-color: var(--acc-clr);
}

.sub-btn--form {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.2em 1em;
  font-size: 0.8em;
  font-family: inherit;
  background-color: var(--bg-card-wht-1);
  cursor: pointer;
  transition: border-color 0.8s ease-in;
}

.sub-btn--form:hover {
  scale: 102%;
  border-color: var(--acc-clr);
  color: var(--acc-clr);
}

.sub-btn--form:focus,
.sub-btn--form:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}
