.form {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.form input {
  border-radius: 5px;
  border: none;
  width: 100%;
}

.form input:hover {
  background-color: var(--bg-card-2);
}

.form button {
  border-radius: 5px;
  border: none;
  padding: 0.2em 1em;
  font-size: 0.8em;
  font-family: inherit;
  background-color: var(--bg-card-wht-1);
  cursor: pointer;
  transition: border-color 0.25s;
}

.form button:focus,
.form button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
