.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  margin-block: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 1px solid var(--bg-card-2);
  transition: background 0.7s ease, opacity 1s ease-in, translate 1s ease-in;
}

.todo:hover {
  background: var(--bg-card-2);
  border-left: 2px solid var(--acc-clr);
}

.todo.vanishing-anim {
  opacity: 0.2;
  translate: -100%;
}

.checkbox--todo {
  margin-right: 0.8em;
}

.task--todo {
  font-size: 16px;
  font-weight: 400;
  display: inline;
  transition: opacity 0.7s ease-in;
}

.task--todo.vanishing-anim {
  opacity: 0;
}

.del-btn--todo {
  opacity: 0;
}

.del-btn--todo.show {
  transition: opacity 3s ease;
  opacity: 1;
  background: transparent;
  border: none;
}

.del-btn--todo img {
  width: 15px;
}

.del-icon-warning--todo {
  transition: scale 0.2s;
  scale: 1.3;
}
