:root {
  --bg-card: rgb(54, 54, 54);
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  margin-block: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  transition: background 1s;
}

.todo:hover {
  background: var(--bg-card);
}

.checkbox--todo {
  margin-right: 0.8em;
}

.task--todo {
  font-size: 16px;
  font-weight: 400;
  display: inline;
}

.del-btn--todo.show {
  display: block;
  background: transparent;
  border: 1px solid transparent;
}

.del-btn--todo {
  display: none;
}

.del-btn--todo img {
  width: 15px;
}
