.todo {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;

  margin-block: 0.5em;
  padding: 0.5em;

  background-color: var(--bg-clr-dark-2);
  border-radius: 5px;
  border-bottom: 1px solid var(--clr-2);

  z-index: 1;
  cursor: pointer;
  transition: background 0.7s ease, opacity 1s ease-in, translate 1s ease-in;
}

.todo:hover {
  background: var(--clr-2);
  border-bottom: 2px solid var(--acc-clr);
}

.todo.light {
  background-color: var(--lt-clr-2);
}

.todo.light:hover {
  background: var(--lt-clr-3);
}

.todo.vanishing-anim {
  translate: -100%;
  opacity: 0.2;
}

.todo button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.todo-check-task-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}

.task--todo {
  width: 100%;

  text-align: start;
  font-size: var(--font-medium);
  font-weight: 400;

  color: inherit;
  background-color: transparent;
  border: none;

  transition: opacity 0.7s ease-in;
}

.task--todo.vanishing-anim {
  opacity: 0;
}

.option-menu {
  display: flex;
  place-content: center;
  gap: 5px;
  margin-top: -36px;
  opacity: 0;
  z-index: -1;
  transition: all 1s ease;
}

.option-menu.show {
  margin-top: 0px;
  height: 100%;
  opacity: 1;
  z-index: 2;
}

.option-btn {
  width: 100%;
  padding: 0.25em 1em;
  font-family: inherit;
  font-size: var(--font-small);
  color: var(--font-clr-1);
  border: none;
  border-radius: 5px;
}

.option-btn:hover {
  color: var(--font-clr-2);
  background: rgb(120, 120, 120);
}

.option-btn.dark {
  background-color: var(--clr-1);
  color: var(--font-clr-1);
}

.option-btn.light {
  background-color: var(--lt-clr-3);
  color: var(--lt-font-clr-1);
}

.option-btn.delete:hover {
  background: #e92222;
}

/* icons */

.circle-icon {
  color: var(--font-clr-1);
}

.circle-icon.light {
  color: var(--lt-font-clr-1);
}

.circle-icon.checked {
  color: var(--acc-clr);
}

.arrow-down-icon {
  color: var(--clr-1);
  cursor: pointer;
  transition: rotate 0.5s ease;
}

.arrow-down-icon:hover {
  scale: 1.3;
}

.arrow-down-icon.up {
  rotate: 180deg;
}
