.form {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.input--form {
  padding: 0.3em 0.6em;
  width: 100%;

  font-size: var(--font-medium);
  font-family: inherit;

  border: 1px solid transparent;
  transition: border-color 0.8s ease-in;
}

.input--form:hover {
  background-color: var(--clr-2);
  border-color: var(--acc-clr);
}

.input--form.light {
  color: var(--lt-font-clr-1);
  background-color: var(--lt-clr-1);
  border-color: var(--clr-3);
}

.sub-btn--form {
  padding: 0.2em 1em;

  font-size: 0.8em;
  font-family: inherit;

  background-color: var(--clr-wht-1);
  border: 1px solid transparent;

  cursor: pointer;
  transition: border-color 0.8s ease-in;
}

.sub-btn--form.light {
  color: var(--lt-font-clr-1);
  background-color: var(--lt-clr-1);
  border-color: var(--clr-3);
}

.sub-btn--form:hover {
  color: var(--acc-clr);
  border-color: var(--acc-clr);
  scale: 1.1;
}

.sub-btn--form:focus,
.sub-btn--form:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}
