.todo-view {
  position: fixed;

  display: flex;
  flex-direction: column;
  gap: 0.3em;
  inset: 0;
  top: 35%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  min-height: max-content;
  padding: 1em;

  color: var(--font-clr);
  background-color: var(--clr-2);
  box-shadow: 0px 0px 1px var(--clr-3);
  z-index: 2;
}

.todo-view.light {
  background-color: var(--lt-clr-1);
}

.task--view,
.note--view {
  padding: 0.5em;

  line-height: var(--line-height);
  font-size: var(--font-medium);
  font-family: inherit;

  color: inherit;
  background-color: inherit;
  border: none;
  resize: none;
  transition: background 0.5s ease-in;
}

.task--view::-webkit-scrollbar,
.note--view::-webkit-scrollbar {
  display: none;
}

.task--view,
.note--view {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.task--view:hover,
.note--view:hover {
  border: none;
  border-bottom: 2px solid var(--acc-clr);
  background: var(--clr-blk-1);
}

.task--view.light,
.note--view.light {
  background: var(--lt-clr-2);
  transition: revert;
}

.task--view.light:hover,
.note--view.light:hover {
  background: var(--lt-clr-3);
}

.task--view {
  min-height: max-content;
}

.note--view {
  min-height: 5em;
}

.del-btn--view {
  padding: 0.3em;
  margin-top: 0.6em;
  font-size: var(--font-small);
  color: inherit;
  background-color: var(--clr-blk-1);
  border: none;
}

.del-btn--view.light {
  background-color: var(--lt-clr-2);
}

.del-btn--view:hover {
  border-bottom: 2px solid var(--acc-clr);
}

.del-btn--view.light:hover {
  background-color: var(--lt-clr-3);
}

@media (width > 450px) {
  .todo-view {
    width: 500px;
    padding: 2em;
  }
}
