.todo {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;

  margin-block: 0.5em;
  padding: 0.5em;

  border-radius: 5px;
  border-bottom: 1px solid var(--clr-2);

  cursor: pointer;
  transition: background 0.7s ease, opacity 1s ease-in, translate 1s ease-in;
}

.todo:hover {
  background: var(--clr-2);
  border-bottom: 2px solid var(--acc-clr);
}

.todo.light:hover {
  background: var(--lt-clr-2);
}

.todo.vanishing-anim {
  translate: -100%;
  opacity: 0.2;
}

.checkbox--todo {
  appearance: none;
  -webkit-appearance: none;

  position: relative;

  translate: 0 4px;
  width: 20px;
  height: 20px;
  margin-right: 0.8em;

  border: 2px solid var(--clr-1);
  transition: border 0.5s ease-in;
}

.checkbox--todo:checked {
  border: 2px solid var(--acc-clr);
}

.checkbox--todo:checked::before {
  content: " ";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: var(--acc-clr);
}

.task--todo {
  text-align: start;

  font-size: var(--font-medium);
  font-weight: 400;

  color: inherit;
  background-color: transparent;
  border: none;

  transition: opacity 0.7s ease-in;
}

.task--todo.vanishing-anim {
  opacity: 0;
}

.todo button {
  display: grid;
  place-self: center;
  background: transparent;
  border: none;
}

.kebab-menu-btn {
  color: var(--clr-1);
  cursor: pointer;
}

.kebab-menu-btn:hover {
  scale: 1.1;
}

.option-menu {
  position: absolute;
  top: 50%;
  right: 0.5em;
  translate: 0 -50%;
  background-color: white;
}

.option-btn {
  text-align: start;
  width: 100%;
  padding: 0.25em 1em;
  font-family: inherit;
  font-size: var(--font-small);
  color: var(--clr-1);
  background: transparent;
  border: 1px solid;
}

.option-btn:hover {
  color: var(--font-clr-2);
  background: rgb(120, 120, 120);
}

.option-btn.delete:hover {
  background: #e92222;
}
