:root {
  --acc-clr: #e5660c;
  --bg-card-1: #4e4e4e;
  --bg-card-2: #303030;

  --bg-card-wht-1: #303030;
  --bg-card-blk-1: #191919;

  --font-clr: #dcdcdc;
  --font-small: 12px;
}

#root {
  max-width: 1280px;
  margin-top: 10%;
  margin-inline: auto;
  padding: 2rem;
}

.App {
  width: 330px;
  position: relative;
}
