:root {
  --acc-clr: #e5660c;

  --clr-1: #4e4e4e;
  --clr-2: #303030;
  --clr-3: #a9a9a9;

  --clr-wht-1: #303030;
  --clr-blk-1: #191919;

  --font-clr-1: #b1b1b1;
  --font-clr-2: #dcdcdc;
  --font-clr-blk: #111111;

  /* Light theme */
  --lt-clr-1: #e2e2e2;
  --lt-clr-2: #cbc8c8;
  --lt-font-clr-1: #2b2b2b;

  /* background*/
  --bg-clr-light-1: #e7e7e7;
  --bg-clr-dark-1: #212121;
  --bg-clr-dark-2: #282828;

  --font-xsmall: 14px;
  --font-small: 16px;
  --font-medium: 18px;
  --font-large: 20px;
  --font-xlarge: 24px;

  --line-height: 20px;

  color-scheme: light dark;
}

.App {
  margin-inline: auto;
  padding: 1em 2em;
  box-shadow: 0 0 4px #4444446c;
}

.App.dark {
  background-color: var(--bg-clr-dark-2);
}

.App.light {
  background-color: var(--bg-clr-light-1);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--font-clr-1);
  background-color: var(--bg-clr-dark-1);
}

.app-container.light {
  background-color: var(--lt-clr-1);
  color: var(--lt-font-clr-1);
}

.app-title {
  font-size: var(--font-xlarge);
  padding-block: 0.5em;
}

@media (width > 500px) {
  .App {
    width: 450px;
    padding: 3em 4em;
  }
}
