:root {
  --acc-clr: #e5660c;

  --clr-1: #4e4e4e;
  --clr-2: #303030;
  --clr-3: #878787;

  --clr-wht-1: #303030;
  --clr-blk-1: #191919;

  --font-clr: #dcdcdc;
  --font-clr-blk: #111111;

  --font-xsmall: 12px;
  --font-small: 14px;
  --font-medium: 16px;

  --line-height: 20px;
}

#root {
  max-width: 1280px;
  margin-top: 10%;
  margin-inline: auto;
  padding: 2rem;
}

.App {
  width: 370px;
  position: relative;
  border-right: 2px solid var(--clr-blk-1);
  border-radius: 5px;
}

@media (max-width: 500px) {
  .App {
    width: 300px;
  }
  #root {
    padding: 0.5rem;
  }
}
